/*
	Name：wpztw2017
	Author：前端刘
	Description：webliu.net前端刘的代码人生
	主题色调：
	#f7f7f7 body背景色
	#62a8ea 蓝色
	#ed1c24 红色
	#555555 黑色
	#eeeeee 边框颜色
	黄黑色调：黄#ff6400  黑#343233
	淡黑色：#5e7387
*/


/*==============================================================================================================================
	公用样式
==============================================================================================================================*/
body{
	cursor:default;
	width:100%;
	height:100%;
	font-family: "Open Sans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Verdana,Tahoma,sans-serif;
	color:#555;
	margin:0;
	background:#f4f7f9;
	position: relative;
}
.clear {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
body,html,ul,li,p,table{
	margin: 0;
	padding: 0;
}
a {
	color: #555;
	text-decoration: none !important;
	/* -webkit-transition: all .8s ease;
	 -o-transition: all .8s ease;
    transition: all .8s ease; */
}
a:focus, a:hover {
	color: #ff6400;
}
i {
	margin-right: 4px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
    font-family: inherit;
    line-height: 1.1;
    color: #555;
    /* font-weight: lighter; */
}
.touming {
    background-color: rgba(250,250,250,0.8);
    height: 100%;
    width: 100%;
}
.showlater{
	display: none;
}
input::-moz-placeholder {
	color: #999 !important;
}
input::-webkit-input-placeholder {
	color: #999 !important;
}
input::-ms-input-placeholder {
	color: #999 !important;
}
input:focus {
	outline: none;
    box-shadow: none;
}
.full_screen {
	position: relative;
	width: 100%;
	height: 100%;
}
.isshow {
	display: block !important;
}
::selection {
	background: #000;
	color: #fff;
}
::-moz-selection {
	background: #000;
	color: #fff;
}
::-webkit-selection {
	background: #000;
	color: #fff;
}
.wrapper {
	position: relative;
	height: auto;
}
.webliubtn {
	color: #555;
    background: #fff;
    border: 1px solid #999;
    display: inline-block;
    padding: 10px 16px;
    margin: 8px 14px 8px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.webliubtn.btnblue {
	background: #62a8ea;
    border-color: #62a8ea;
    color: #fff;
}
.webliubtn.btngreen {
	background: #33ad1b;
    border-color: #33ad1b;
    color: #fff;
}
.webliubtn.btnpink {
	background: #f74864;
    border-color: #f74864;
    color: #fff;
}
.webliubtn.btnorange {
	background: #f2a654;
    border-color: #f2a654;
    color: #fff;
}
.webliubtn.blue {
	border-color: #62a8ea;
    color: #62a8ea;
}
.webliubtn.blue:hover {
	background: #62a8ea;
    color: #fff;
}
.red {color: #f00;}
.black {color: #000;}
.blue {color: #3996db;}
.green {color: #83cc2b;}
.user_links .social_qq {
  background-color: #b5921a;
}
.user_links .social_weibo {
  background-color: #f74864;
}
.user_links .social_qqweibo {
  background-color: #0e7f9e;
}
.user_links .social_weixin {
  background-color: #33ad1b;
  position: relative;
}
.tooltip-inner {
    max-width: 400px;
    padding: 10px 13px;
    background-color: rgba(0,0,0,.9);
}



.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: transparent;
	padding: 35px 0 10px;
	z-index: 999;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.notindex .header {
	background: #333;
	position: relative;
}
.header.shasscroll {
	position: fixed;
	padding: 15px 0 0;
	box-shadow: 0 6px 20px rgba(0,0,0,.05);
	background: #fff;
}
.header .logo {
	float: left;
}
.header .logo a {
	display: inline-block;
	/*background-image: url(../img/logo.png);*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 200px;
	height: 38px;
}
.isindex.hasscroll .header .logo a,
.header .site_nav {
	float: right;
	margin-right: 40px;
}
.header .site_nav>ul>li {
	margin:0 15px;
	display: inline-block;
	position: relative;
    padding-bottom: 25px;
    padding-top: 5px;
}
.header .site_nav>ul>li>a {
	font-size: 16px;
	color: #fff;
	font-weight: 300;
}
.hasscroll .header .site_nav>ul>li>a:hover {
	color: #ff6400;
}
.isindex .header .site_nav>ul>li>a {
	color: #fff;
}
.isindex.hasscroll .header .site_nav>ul>li>a {
	color: #555;
}
.header.shasscroll .site_nav>ul>li>a {
	color: #555;
}
.header .sub-menu {
    position: absolute;
    left: 50%;
    top: 48px;
	border: 1px solid #ced6d8;
    background: #fff;
    white-space: nowrap;
    margin-left: -45px;
    border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.175,0.885,0.32,1.275);
    -moz-transition: all 0.6s cubic-bezier(0.175,0.885,0.32,1.275);
    -o-transition: all 0.6s cubic-bezier(0.175,0.885,0.32,1.275);
    transition: all 0.6s cubic-bezier(0.175,0.885,0.32,1.275);
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    -moz-transform: scale3d(0,0,0);
    -ms-transform: scale3d(0,0,0);
    -o-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0);
    -webkit-transform-origin: 40px top;
    -moz-transform-origin: 40px top;
    -ms-transform-origin: 40px top;
    -o-transform-origin: 40px top;
    transform-origin: 40px top;
}
@media screen and (min-width: 993px){
	.header .sub-menu:before {
		content: "";
	    height: 10px;
	    width: 10px;
	    background-color: #fff;
	    border: 1px solid #ced6d8;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    border-left: 0;
	    border-bottom: 0;
	    position: absolute;
	    top: -5px;
	    left: 28px;
	}
}

.header .menu-item-has-children {
	position: relative;
}
.header .menu-item-has-children:hover .sub-menu {
	-webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    opacity: 1;
}
.header .sub-menu>li {
	display: block;
	padding: 5px 35px;
	border-bottom: 1px solid #f4f4f4;
	text-align: left;
}
.header .sub-menu>li>a {
	font-size: 15px;
}

/* 搜索 */
.search_show {
	float: right;
	margin-top: 10px;
}
.search_show a {
    padding: 15px 20px;
    color: #fff;
}
.hasscroll .search_show a {
	color: #555;
}
.search_show i {
	font-size: 18px;
}
.search_wrap {
	position: absolute;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: #fff;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	-webkit-animation: fade-zoom-in .3s forwards;
    -o-animation: fade-zoom-in .3s forwards;
    animation: fade-zoom-in .3s forwards;
}
.search_title {
	border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px 0;
    color: #999;
}
.search_content {
	width: 60vw;
	height: 90vh;
	margin: 10vh auto 0;
}
.search_content .search_form {
	width: 100%;
}
.search_content .search_form input {
	width: 85%;
	border: 1px solid #ccc;
	height: 40px;
	padding: 20px;
}
.search_content .search_form input:focus {
	border-color: #ff6400;
}
.search_content .search_form button {
	float: right;
	width: 15%;
	height: 42px;
	border: 1px solid #ccc;
	border-left: 0;
	border-radius: 0;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.search_content .search_form button:hover {
	background: #ff6400;
	color: #343233;
	border-color: #ff6400;
}
.search_close {
	position: absolute;
	z-index: 9999;
	top: 10vh;
	right: 10vw;
	width: 40px;
}
.search_close .fa {
	font-size: 24px;
	color: #999;
	cursor: pointer;
}
.search_close .fa:hover {
	color: #000;
}
/*视觉差背景*/
.visual {
    background-image: url(../img/visualbg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: table;
    overflow:hidden;
    background-attachment: fixed;
		width: 100vw !important;
		height: 100vh !important;
}
.visual:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.7);
    z-index: 1;
    position: absolute;
}
.visual_content {
	position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    margin-top: 20vh;
}
.visual_img, .visual_word {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.visual_img {
	float: left;
	max-height: 460px;
	overflow: hidden;
	padding: 0 5%;
	position: relative;
}
.visual_img img {
	width: 100%;
}
.visual_word {
	float: right;
	padding: 5% 0 0 5%;
	text-align: justify;
	color:#fff;
}
.visual_word h1 {
	font-family: cursive;
}
.visual_word ul {
	padding: 30px 0 0 20px;
}
.visual_word ul li {
	list-style-type: circle;
	line-height: 30px;
	font-size: 16px;
}
.visual_word a {
	display: inline-block;
	color: #fff;
    background: transparent;
    border: 1px solid #fff;
    box-shadow: none;
    border-radius: 3px;
    padding: 15px 30px;
    font-size: 18px;
    margin: 40px 0 0 0;
	transition:background 0.2s;
	-moz-transition:background 0.2s;
	-webkit-transition:background 0.2s;
	-o-transition:background 0.2s;
}
.visual_word a i {
	margin-right: 10px;
}
.visual_word a:hover {
	background: #ed1c24;
	color: #fff;
	border-color: #ed1c24;
}
.showme_content {
	padding: 30px;
	position: relative;
}
.showme_timg {
    border-radius: 50%;
    background: rgba(255,255,255,.4);
    /*border: 1px solid #ddd;
    box-shadow: 0px 2px 2px #565656;*/
    max-width: 130px;
}
.trans_around1, .trans_around2 {
	position: absolute;
	border-radius: 100%;
}
.trans_around1 {
	position: absolute;
    top: 4%;
    left: 2%;
    width: 180px;
    height: 180px;
    -webkit-animation: circleBig 10s linear infinite;
    -moz-animation: circleBig 10s linear infinite;
    -ms-animation: circleBig 10s linear infinite;
    -o-animation: circleBig 10s linear infinite;
    animation: circleBig 10s linear infinite;
}
.trans_around2 {
    position: absolute;
    top: 9%;
    left: 8%;
    width: 160px;
    height: 160px;
    -webkit-animation: circleSmall 10s linear infinite;
    -moz-animation: circleSmall 10s linear infinite;
    -ms-animation: circleSmall 10s linear infinite;
    -o-animation: circleSmall 10s linear infinite;
    animation: circleSmall 10s linear infinite;
}
.trans_tx {
	position: absolute;
    top: 43.7%;
    left: 50%;
    margin-left: -18px;
    width: 30px;
    height: 30px;
}
/*旋转动画*/
@-webkit-keyframes circleBig{
	0% {
	    -webkit-transform: rotate(0);
	    -moz-transform: rotate(0);
	    -ms-transform: rotate(0);
	    -o-transform: rotate(0);
	    transform: rotate(0);
	}
	100% {
	    -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}
@-webkit-keyframes circleSmall{
	0% {
	    -webkit-transform: rotate(0);
	    -moz-transform: rotate(0);
	    -ms-transform: rotate(0);
	    -o-transform: rotate(0);
	    transform: rotate(0);
	}
	100% {
	    -webkit-transform: rotate(-360deg);
	    -moz-transform: rotate(-360deg);
	    -ms-transform: rotate(-360deg);
	    -o-transform: rotate(-360deg);
	    transform: rotate(-360deg);
	}
}


.showme_slogan {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #c5c5c5;
    max-width: 500px;
    margin: 10px auto;
    font-family: "Microsoft JhengHei",sans-serif;
}
.showme_sloganT {
	position: relative;
	margin-top: 20px;
}

.showme_slogan h3, .showme_sloganName {
	font-size: 30px;
	color: #fff;
	font-weight: lighter;
}
.showme_sloganName {
	margin-top: 40px;
	text-align: right;
}
.showme_slogan h3::before, .showme_slogan h3::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #00f1ff;
}
.showme_slogan h3::before {
	top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
}
.showme_slogan h3::after {
	right: 0;
    bottom: 0;
    border-width: 0 2px 2px 0;
    clear: both;
}
.showme_btns {
	position: relative;
	z-index: 3;
	text-align: center;
	margin: 20px auto 0;
}
.showme_btns a {
	border: 1px solid rgba(255, 255, 255, 0.4);
	padding: 14px 30px;
	color: #fff;
	border-radius: 4px;
	display: inline-block;
	margin: 0 15px;
	background: rgba(255,255,255,.2);
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
		-webkit-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
}
.showme_btns a:first-child, .showme_btns a:hover {
	background: #ff6400;
	color: #fff;
	border-color: #ff6400;
}
/*口号*/
.solgan {
	font-family: "微软雅黑";
	text-align: center;
	position: relative;
	padding: 30px 0;
}
.solgan i {
	font-size: 40px;
}
.solgan h1 {
	margin: 10px 0;
	text-align: center;
    font-size: 24px;
    color: #373d41;
    line-height: 36px;
}
.solgan p {
	font-size: 18px;
	color: #999;
}

/*首页最新主题*/
.new_theme {
	width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding-bottom: 20px;
}
.new_theme_wrapper:after {
	content: "";
	clear: both;
}
.new_theme h1 {
	position: relative;
    height: 34px;
    line-height: 34px;
    color: #323f48;
    font-size: 28px;
    display: inline-block;
    margin: 40px 0 50px;
    text-align: center;
}
.new_theme h1:before, .new_theme h1:after,
.target h1:before, .target h1:after {
	position: absolute;
    top: 15px;
    content: '';
    width: 50px;
    height: 2px;
    background: #ccc;
    display: inline-block;
}
.new_theme h1:before, .target h1:before {
	left: -70px;
}
.new_theme h1:after, .target h1:before {
	right: -70px;
}

/*首页最新主题文章样式*/
.excerpt {
		float: left;
		position: relative;
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #f4f4f4;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
	    -webkit-transition: all 0.3s linear;
	    transition: all 0.3s linear;
}
.excerpt:hover {
    box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
    margin-top: -4px;
}
.excerpt .theme_thumbail {
	height: 350px;
	padding: 20px 10px;
	/*overflow-y: scroll;*/
	overflow: hidden;
}
.excerpt .theme_thumbail img {
	max-width: 100%;
}
.excerpt .theme_title {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
    width: 40%;
    box-sizing: border-box;
    background: #ed1c24;
    color: #fff;
    padding: 8px 20px;
    /* border-radius: 4px; */
    z-index: 100;
    font-size: 14px;
    -ms-transform:rotate(45deg); /* Internet Explorefr */
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); /* Opera */
	transform: rotate(45deg);
}
.excerpt .theme_info {
	padding: 0 20px;
}
.excerpt .theme_info h2 {
    font-size: 20px;
    line-height: 1.3;
    position: relative;
    margin: 20px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
.excerpt .theme_info p {
	margin-top: 10px;
	text-align: justify;
    max-height: 42px;
    color: #777;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.theme_meta {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
	padding: 15px 20px;
	text-align: justify;
	color: #999;
}
.theme_meta span {
	margin-right: 20px;
}
.theme_meta span em {
	padding: 2px 8px;
    color: #fff;
    background-color: #ed1c24;
    border-radius: 4px;
    font-style: normal;
}
.theme_meta .view {
	float: right;
	color: #999;
	margin: 0;
}
/*目标*/
.target {
	background-color: #fff;
	padding: 70px 0;
	text-align: center;
}
.target h1,
.target h2,
.target p,
.target_one {
	text-align: center;
}
.target h1 {
	position: relative;
	display: inline-block;
	font-size: 30px;
	color: #333;
	margin-bottom: 50px;
}
.target h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
.target p {
    line-height: 24px;
}
.target i {
	font-size: 50px;
	margin: 0 auto 10px;
}
.target em {
	font-style: normal;
	padding: 0 4px;
	color:#ed1c24 ;
}
.target_one {
	float: left;
	border: 1px solid #eaeaea;
	padding: 20px 10px;
	border-radius: 6px;
	width: 30%;
	margin-top: 30px;
	margin-left: 2.5%;
	box-shadow: 0 2px 2px #ddd;
	height: 384px;
}
.target_one .target_price {
	margin: 20px 0;
	font-size: 20px;
	color: #ed1c24;
}
.target_one .btn {
	margin: 30px 0 10px;
}
.target_one:hover {
	border: 1px solid #ed1c24;
}

/*MyDream*/
.mydream {
	width: 100%;
	background-image: url(../img/thinkbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 100px 0;
	color: #fff;
}
.mydream .think_left {
	float: left;
	width: 70%;
	padding-right: 40px;
}
.mydream p {
	line-height: 26px;
	color: #cacaca;
    font-size: 16px;
    margin: 10px 0;
}
.mydream .think_right {
	float: right;
	width: 30%;
	text-align: center;
}
.mydream .think_right a {
	border: 1px solid #fff;
	padding: 20px 30px;
	color: #fff;
	border-radius: 2px;
	display: inline-block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mydream .think_right a:hover {
	background: #fff;
	color: #333;
}
.mydream h1 {
	font-size: 30px;
	line-height: 40px;
	color: #cacaca;
	font-weight: lighter;
}

/*首页wordpress相关教程*/
.course_wrap {
	width: 100%;
	padding: 50px 0;
}
.course_wrap .course_box {
	position: relative;
	float: left;
	width: 48.5%;
	box-sizing: border-box;
	margin-left: 1%;
}
.course_wrap .course_content {
		background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    position: relative;
    overflow: hidden;
}
.course_wrap .course_slogan{
    width: 100%;
    font-size: 20px;
    padding: 20px 30px;
    color: #555;
		border-bottom: 1px solid #eaeaea;
}
.course_slogan .fa {
	color: #fff;
	background: #ed1c24;
	font-size: 14px;
	vertical-align: text-bottom;
	padding: 5px 8px;
	border-radius: 3px;
}
.course_wrap  .course_title {
	position: relative;
    font-size: 20px;
    font-weight: 200;
    color: #07111b;
    margin-bottom: 24px;
    line-height: 20px;
}
.course_wrap li {
	position: relative;
	padding: 10px 20px;
	width: 100%;
	border-bottom: 1px solid #f4f4f4;
}
.course_wrap .coursePost_img {
	float: left;
	overflow: hidden;
	border-radius: 4px;
}
.coursePost_title {
	width: calc(100% - 120px);
  margin-left: 120px;
  font-size: 16px;
  line-height: 26px;
  max-height: 50px;
  overflow: hidden;
	color: #5e7387;
}
.coursePost_info {
	position: absolute;
	width: calc(100% - 120px);
	padding-left: 120px;
	font-size: 12px;
	color: #999;
	bottom: 10px;
}
.coursePost_info span {
	margin-right: 6px;
}
.course_wrap li::after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.course_wrap li a {
	display: block;
	width: 100%;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.course_wrap li:hover {
	background: #f4f7f9;
}
.course_wrap li:hover a {
	margin-left: -10px;
}
/*首页友情链接*/
.links {
  width: 100%;
  background-color: #333;
  padding: 15px 5%;
}
.links-title {
  margin-bottom: 16px;
  margin-top: 10px;
  padding-bottom: 10px;
  color: #999;
}
.links ul li {
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 1% 20px 0;
}
.links ul li a {
  text-transform: uppercase;
	-webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 20px;
  padding: 2px 10px;
  border-radius: 2px;
  color: #aaa;
  background-color: #454545;
}
.links ul li a:hover {
	color: #454545;
    background: #fff;
}
.footer {
  width: 100%;
  padding: 35px 5%;
  background-color: #333;
}
.footer h3 {
  color: #999;
}
.aboutsite, .foottags {
  float: left;
  color: #999;
}
.aboutsite {
  width: 40%;
  margin-right: 10%;
}
.foottags {width: 50%;}
.aboutsite p, .foottags p {
  padding-top: 10px;
  line-height: 24px;
  font-size: 14px;
}
.foottags .tags {
  margin-top: 20px;
}
.foottags .tags a {
  display: inline-block;
  color: #aaa ;
  border-radius: 3px;
  background-color: #454545;
  padding: 6px 10px;
  margin: 4px;
}
.foottags .tags a:hover {
  color: #fff;
}
.footcopy::before, .footcopy::after {
  clear: both;
}
.footcopy {
  width: 100%;
  padding: 25px 5%;
  border-top: 1px solid rgba(255,255,255,0.08);
  background: #2e2e2e;
  color: #aaa;
  text-align: center;
}
.footcopy ul li {
  display: inline-block;
}
.footcopy a {
  font-size: 0.875em;
  color: #aaa ;
  margin-right: 10px;
}
.footcopy a:hover {
  color:#fff;
}
.footcopy-word {
  font-size: 0.875em;
  margin: 10px 0 0 0;
}


.gotop {
	position: fixed;
	right: 1%;
	bottom: 10%;
	justify-content: center;
    align-items: center;
    display: -webkit-flex;
    text-align: center;
    padding: 15px 20px;
    z-index: 999;
    border-radius: 4px;
	transition:background 0.8s;
	-moz-transition:background 0.8s;
	-webkit-transition:background 0.8s;
	-o-transition:background 0.8s;
	cursor: pointer;
	display: none;
	background: rgba(0,0,0,.6);
}
.gotop:hover {
	background: rgba(0,0,0,.9);
}
/*.gotop:hover i {
	color: #fff;
}*/
.gotop i {
	color: #fff;
	margin: 0;
	font-size: 24px;
}

/*文章页*/
.article_titleWrap {
	padding: 15px 0;
}
.article_title {
    float: left;
    padding: 10px 0 30px 0;
    width: 100%;
    text-align: center;
}
.article_title h1 {
    font-size: 24px;
    line-height: 40px;
    color: #fff
}
.article_title .meta {
	margin-top: 20px;
	color: #999;
}
.article_title .meta .fa {
	margin-right: 4px;
}
.article_title .meta span {
	margin-right: 6px;
}
.article_title .meta a {
	color: #999;
}
.article_title .meta a:hover {
	color: #ff6400;
}
.breadcrumb {
	margin: 0 0 10px;
    padding: 0 0 6px;
    color: #999;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid #eaeaea;
}
.breadcrumb a {
	color: #999;
}
.breadcrumb a:hover {
	color: #fec030;
}
.article_wrapper {
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.article_left {
    float: left;
    margin-top: 10px;
    margin-right: 280px;
    width: calc(100% - 280px);
}
.article_item {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    color: #555;
    border: 1px solid #eee;
}
.article_item h3 {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.post-comments h3::after {
	position: absolute;
	content: "";
	width: 50px;
	background: #ff6400;
	height: 1px;
	left: 0;
	bottom: -1px;
}
.article_item h3 span {
	color: #ff6400;
}
.article_content {
	position: relative;
}
.article_content p {
	font-size: 16px;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 20px;
	font-weight: 300;
}
.article_content img {
	max-width: 100%;
}
.article_content em {
	color: #A40000;
    font-size: 12px;
    padding: 2px 4px;
    font-style: normal;
    border-radius: 3px;
    border: 1px solid #DDD;
    margin: 0 2px;
    font-weight: bold;
}
.article_content h1,
.article_content h2,
.article_content h3,
.article_content h4,
.article_content h5 {
	margin: 20px 0;
}
.article_content h1 {
	font-size: 22px;
}
.article_content h2 {
	font-size: 20px;
}
.article_content h3 {
    background: #f4f7f9;
    padding: 10px;
    margin: 15px -20px;
	font-size: 18px;
}
.article_content li {
	line-height: 20px;
	margin: 10px 0;
	list-style: inside;
}
.article_tags {
    margin: 20px 0 10px;
    color: #999;
}
.article_tags a {
	display: inline-block;
	white-space: nowrap;
    border: 1px solid #999;
    font-size: 12px;
    padding: 0 8px;
    margin-right: 6px;
    border-radius: 3px;
    color: #999;
}
.article_tags a:hover {
	background: #333;
    color: #fff;
    border-color: #333;
}

.single_TopWrap {
	background: url(../img/single_topbg.jpg) no-repeat center center;
	background-size: cover;
    width: 100%;
    padding-top: 100px;
}
.singlergba {
    background: rgba(0,0,0,.3);
}
.post_function {
	position: relative;
	width: 100%;
	overflow: visible;
	text-align: center;
	margin-top: 20px;
}
.post_dashang {
  padding: 12px 25px;
	margin: 0;
  background: #333;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
	border: 0;
}
.tip_dashang {
  position: absolute;
	display: none;
  bottom: 44px;
  left: 50%;
  width: 360px;
  height: 250px;
  margin-left: -175px;
  border: 1px solid #e6e6e6;
  background: #fff;
  box-shadow: 0 1px 1px 1px #efefef;
  border-radius: 6px;
}
.code_dashang {
	float: left;
    width: 50%;
    margin: 25px 0;
}
.code_dashang img {
	display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}
.code_dashang b {
  font-size: 14px;
  line-height: 26px;
  display: block;
  margin: 0;
  text-align: center;
  color: #666;
}
.post_dashang:hover .tip_dashang {
  display: block;
}
.tip_dashang h1 {
	margin: 0;
	padding: 5px 0;
	border: 0;
	font-size: 16px;
	border-bottom: 1px solid #eaeaea;
}
.post_copyright {
  background-color: #eee;
  border-radius: 3px;
  text-align: justify;
	margin-top: 20px;
	padding: 10px;
	-webkit-transition: all .8s ease;
	 -o-transition: all .8s ease;
		transition: all .8s ease;
}
.post_copyright p {
	font-size: 12px;
	color: #999;
	line-height: 20px;
	margin-bottom: 0;
}
.post_copyright a {
  color: #999;
  text-decoration: underline !important;
  margin-left: 4px;
  line-height: 24px;
}
/*文章目录功能*/
#article-index {
  border: 1px solid #eee;
  float: right;
  margin: 0 0 15px 15px;
  padding: 0 6px;
  width: 200px;
  line-height: 23px;
}
#article-index strong {
  border-bottom: 1px solid #f5f5f5;
  display: block;
  line-height: 30px;
  padding: 0 4px;
  font-size: 14px;
}
#index-ul {
  margin: 0;
  padding-bottom: 10px;
}
#index-ul li {
  background: none repeat scroll 0 0 transparent;
  list-style-type: decimal;
  padding: 0;
  margin-left: 20px;
  color:#999;
}
#index-ul li a {
  color:#999;
  font-size: 12px;
}
#index-ul li a:hover {
  color:#555;
}
/*相关文章样式*/

.article-related h3 {
  margin-bottom: 30px;
}
.article-related ul {
  margin-left: 18px;
  color: #bbb;
  margin-bottom: 30px;
}
.article-related ul li {
  margin-top: 15px;
  list-style: disc;
  font-size: 12px;
}
.article-related ul li a {
  font-size: 14px;
}
.artile-author {
  text-align: center;
  color: #ff6400;
}
.artile-author .community {
  margin: 20px 0;
}
.artile-author .author-name a {
  color: #ff6400;
}
.artile-author .author-name span {
  background-color: #999;
  font-size: 0.75em;
  padding: 2px 6px;
  border-radius: 4px;
  color: #fff;
  margin-left: 10px;
}
.artile-author .author-info {
  margin:10px;
}
.artile-author .author-info p {
  font-size: 0.75em;
  line-height: 18px;
  color: #555;
  max-height: 55px;
  overflow: hidden;
}
.artile-author .author-links {margin: 18px 0 0 0;}
.artile-author .author-links a {
  text-align: center;
  background: #999;
  border-radius: 3px;
  margin: 0 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.author-links a:hover {
  background-color: #ff6400;
  color: #fff;
}
.author-links a.social_qq {
  background-color: #b5921a;
}
.author-links a.social_weibo {
  background-color: #f74864;
}
.author-links a.social_qqweibo {
  background-color: #0e7f9e;
}
.author-links a.social_weixin {
  background-color: #33ad1b;
  position: relative;
}
.social_weixin_img {
  display: none;
}
.social_weixin_img {
	position: absolute;
  width: 150px;
  height: 160px;
  top: 34px;
  left: -40px;
  background: rgba(0,0,0,.8);
  border-radius: 4px;
  z-index: 10;
}
.social_weixin_img h4 {
	color: #fff;
	padding: 10px 0;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
	font-size: 14px;
}
.social_weixin:hover .social_weixin_img {
	display: block;
}
.social_weixin_img img {
	max-width: 100px;
}
.author-links a.social_rss {
  background-color: #ff6400;
}
.author-links a.social_email {
  background-color: #8a774e;
}
/*文章评论样式*/
#commentform {
  position: relative;
  overflow: hidden;
}
.post-comments {}
.post-comments h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.post-comments .comment {
  position: relative;
  clear: both;
  padding: 10px 0;
}
.commentlist li {
  margin: 15px 0;
  border-bottom: 1px solid #eceef1;
  padding-bottom: 14px !important;
}
.comment-gravatar {
  float: left;
  margin-right: 14px;
}
.comment-gravatar img {
  max-width: 100%;
  border-radius: 50%;
  margin-top: -4px;
}
.comment-content {
  margin-left: 60px;
}
.comment-info {
  position: relative;
  margin-bottom: 4px;
}
.comment-info span {
	margin-right: 10px;
}
.comment-author {
	font-weight: bold;
}
.comment-text em {
  font-style: normal;
  display: inline-block;
  margin-top: 12px;
  color: #f00;
}
.comment-text p {
  line-height: 22px;
  font-size: 14px;
  color: #999;
}
.comment-content .admin-author {
  background-color: #999;
  padding: 2px 6px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
}
.comment-content .comment-time {
  color:#999;
  font-size: 12px;
}
.comment_reply a {
  position: absolute;
  right: 2%;
  margin: 0;
  font-size: 12px;
  color: #999;
}
.comment_reply a:hover {
	color: #ff6400;
}
.commentlist li ul {
	margin-top: 15px;
}
.commentlist li ul.children li {
  padding: 20px 20px 20px 40px;
  border-bottom: 0;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  background-color: #fbfbfb;
  margin: 0 0 10px 0;
}
.comment-text {
	max-width: 90%;
	text-align: justify;
}
.comment-respond {
	margin-top: 20px;
}
.submit-comment {
	padding-top: 0;
}





.logged-in-as {
	margin-bottom: 10px;
}
.logged-in-as a:first-child {
	color: #ff6400;
}
.comment-form textarea {
	width: 100%;
	height: 80px;
	border: 0;
	transition: all .3s ease-in-out;
	padding: 15px;
	background: #f5f5f5;
}
.comment-form textarea:focus {
	outline: 0;
	height: 100px;
}
#comment::-webkit-input-placeholder{
	color: #ccc;
}
.form-submit {
	float: right;
}
.form-submit .submit {
	background-color: #F6F6F6;
	color: #999;
	padding: 15px 30px;
	margin-top: 10px;
	border-radius: 4px;
	border: 1px solid #eee;
	font-size: 16px;
	transition: all .3s ease-in-out;
}
.form-submit .submit:hover {
	background: #333;
	color: #fff;
	border-color: #333;
}
.comment_mail_notify {
	color: #999;
	font-weight: normal;
	margin-top: 30px;
}
#comment_mail_notify {
	margin: -2px 4px 0 0;
}
.comment-form-comment label, .comment-notes {
	display: none;
}
.comment_item {
	display: inline-block;
	color: #999;
	width: 30%;
	margin-right: 3%
}
.comment_item label {
	font-weight: normal;
	width: 70px;
	margin: 10px 0;
}
.comment_item input {
	width: calc(100% - 80px);
    border: 0;
    border-bottom: 1px solid #ccc;
}



















/* 错误页面 */
.f404 {
  margin: 160px 0 80px;
  text-align: center;
}
.f404 h1 {
  font-size: 60px;
  margin: 40px 0 20px;
}
.f404 .btn {
  background-color: #ff6400;
  padding: 12px 20px;
  margin-top: 25px;
  color:#fff;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
}


/*侧边栏*/
.sidebar {
	position: relative;
	float: left;
	min-height: 500px;
	margin: 10px 0 0 -260px;
	width: 260px;
}
/*用户信息相关*/
.user_sidebar {
	width: 260px;
    background: #fff;
    text-align: center;
	border: 1px solid #eee;
	margin-bottom: 20px;
}
.user_sidebar .user_img a {
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px 0 6px;
}
.user_sidebar .user_img a img {
	width: 100%;
	height: 100%;
}
.user_sidebar .user_name a {
	font-size: 22px;
	color: #343233;
}
.user_sidebar .user_name i {
	font-size: 16px;
}
.user_sidebar .user_introduce {
    font-size: 12px;
    text-align: center;
    color: #999;
    padding: 10px;
}
.user_sidebar .postNum, .user_sidebar .comNum {
	float: left;
	width: 50%;
	border-top: 1px solid #eaeaea;
}
.user_sidebar .postNum {
	border-right: 1px solid #eaeaea;
}
.user_sidebar::after {
	content: "";
	clear: both;
}
.user_sidebar .user_num {
	width: 100%;
	overflow: hidden;
	padding-bottom: 6px;
	background: #f8f8f8;
}
.user_sidebar .user_num em {
	display: block;
	font-style: normal;
	color: #999;
	font-size: 12px;
}
.user_sidebar .user_num b {
	display: block;
}
.user_sidebar .user_num em, .user_sidebar .user_num b {
	height: 20px;
	line-height: 20px;
}
.user_sidebar .user_links {
	margin: 15px 0;
}
.user_sidebar .user_links a {
	text-align: center;
    margin: 0 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.user_sidebar .user_links a i {
	margin-right: 0;
}
.user_links .social_qq {
  background-color: #0188fb;
}
.user_links .social_weibo {
  background-color: #f74864;
}
.user_links .social_qqweibo {
  background-color: #0e7f9e;
}
.user_links .social_weixin {
  background-color: #33ad1b;
  position: relative;
}
.user_links .social_github {
  background-color: #333;
}
.user_links .social_email {
  background-color: #36a195;
}
/* 侧边栏样式 */
.sidebar .widget {
  position: relative;
  background: #fff;
  box-sizing: border-box;
  padding: 15px 20px 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}
.widget ul:after, .widget ul:before {
    display: table;
    content: "";
    line-height: 0;
}
.sidebar .widget h4, .index-contactbox h4 {
  padding: 15px 0;
}
.widget .title, .index-contactbox .title {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}
.widget .title h2 {
	font-size: 18px;
}
/* .widget .title:after, .index-contactbox .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #ff7200;
  position: absolute;
  left: 0;
  bottom: -1px;
} */
.subscribe {}
.subscribe form {
	position: relative;
}
.widget_search .screen-reader-text {display: none;}
.subscribe .rsstxt, .widget_search #s {
	border: 1px solid #ddd;
	padding: 4px 50px 4px 10px;
	border-radius: 3px;
}
.subscribe .btn, .widget_search #searchsubmit {
	box-shadow: none;
	width: 50px;
	padding: 5px 7px;
	border-radius: 0;
	background-color: #555;
	color: #fff;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 0px;
}
.widget_search #searchsubmit {margin-left: -4px;}
.subscribe .btn:hover, .subscribe .btn:focus, .widget_search #searchsubmit:hover, .widget_search #searchsubmit:focus {
    opacity: 1;
    border:0;
}
.recommend {}
.recommend a {
  display: block;
  text-align: center;
  padding: 5px 0;
  font-size: 16px;
}
.recommend .aclass01, .recommend .aclass02, .recommend .aclass03, .recommend .aclass04, .recommend .aclass05 {
	font-size: 14px;
    padding: 14px 0;
    color: #FFF;
    width: 100%;
    text-align: center;
    font-weight: 300;
	margin-top: 1px;
    border-radius: 2px;
}
.recommend .aclass01 {
  background:none repeat scroll 0 0 #001f3f;
}
.recommend .aclass02 {
  background:none repeat scroll 0 0 #605ca8;
}
.recommend .aclass03 {
  background:none repeat scroll 0 0 #d81b60;
}
.recommend .aclass04 {
  background:none repeat scroll 0 0 #ff6400;
}
.recommend .aclass05 {
  background:none repeat scroll 0 0 #3d9970;
}
.paddingnone {padding: 0 !important;}
.textbanner .name {
	font-size: 16px;
	margin-bottom: 6px;
}
.textbanner a {
  font-size: 12px;
  color:#999;
}
.textbanner p {
  line-height: 22px;
}
.postlist {}
.postlist li a {
  overflow: hidden;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.postlist .thumbnail {
	border: 0;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	overflow: hidden;
}
.postlist .thumbnail img {
	width: 100%;
	transition: all .3s ease;
}
.postlist .thumbnail img:hover {
	transform:scale(1.1);
}
.postlist .text {
	line-height: 25px;
    overflow: hidden;
    display: block;
    height: 25px;
    font-size: 12px;
    white-space: nowrap;
	padding: 0 5px;
}
.postlist .muted {
    padding-left: 10px;
    color:#999;
    font-size: 12px;
}
.weget-tags {}
.weget-tags a {
	border: 1px solid #ebebeb;
	padding: 4px 6px;
	color: #959595;
	display: inline-block;
	margin: 2px;
	font-size: 12px;
	border-radius: 3px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.weget-tags a:hover {
  color: #fff;
  background: #333;
  border: 1px solid #333;
}
.widget_comment {}
.widget_comment li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.widget_comment li a {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  color:#555;
}
.widget_comment .avatar {
  border-radius: 50%;
  float: left;
  position: relative;
  bottom: -2px;
  margin: 8px 0 0 -20px;
}
.widget_comment div.content {
    margin-left: 30px;
    padding: 8px 0;
    width: 160px;
    font-size: 12px;
    text-align: justify;
    max-height: 85px;
    overflow: hidden;
}
.widget_comment div.content:before {
/*  content: '';
  display: inline-block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #eee;
  position: absolute;
  top: 15px;
  left: -9px;*/
}
.widget_comment div.content:after {
/*  content: '';
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #fbfdfb;
  position: absolute;
  top: 17px;
  left: -7px;*/
}
.widget_comment div.content i {
  font-style: normal;
  color:#FF7200;
  margin-right: 2px;
}
.widget_tongji li {
  color:#555;
  font-size: 14px;
  line-height: 22px;
  margin-left: 20px;
  list-style-type: circle;
}
.widgetad {
  width: 100%;
  overflow: hidden;
}
.widgetad img {
  max-width: 100%;
}
.widget_categories ul:after, .widget_links ul:after {
  content: "";
  clear: both;
}
.widget_categories li, .widget_links li {
  width: 50%;
  overflow: hidden;
  float: left;
  line-height: 24px;
  font-size: 14px;
}
.widget_archive li {
  line-height: 24px;
}
.widget_archive li a {
  font-size: 14px;
}

/*分类目录样式*/
.cat-info {
  background-color: #fff;
  margin-bottom: 4px;
  padding: 10px 20px;
  border:1px solid #eee;
  margin-bottom: 20px;
}
.cat-title {
  font-size: 18px;
  padding: 10px 0;
  position: relative;
  border-bottom: 2px solid #eaeaea;
}
.cat-title:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: #555;
  content: "";
}
.cat-title i {
  margin-right: 8px;
  background-color: #555;
  width: 28px;
  height: 28px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}
.cat-desc {
  padding: 14px 0 4px;
  font-size: 14px;
  color:#999;
}
.cat-ads {
  background-color: #fff;
  margin-bottom: 4px;
  border:1px solid #eee;
  padding: 15px 0;
}
.cat-ads img {
  max-width: 100%;
  height: auto;
  margin:0 auto;
}
.cat-nopost {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eee;
  position: relative;
  color:#555;
}
.article_left .article {
	position: relative;
	box-sizing: border-box;
	padding: 25px 20px 0;
	border: 1px solid #eee;
	background: #fff;
	margin-top: 30px;
}
.post-abstract {
	padding-bottom: 20px;
}
.post-abstract .post_ttle {
	display: block;
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 10px;
	color: #5e7387;
}
.post-abstract .note {
	color: #999;
}
.article .post_meta {
	padding: 10px 20px;
    background: #eee;
    margin: 0 -20px;
    margin-top: 10px;
    color: #999;
	font-size: 12px;
}
.article_contentbox {
	display: flex;
	margin-bottom: 20px;
}
.article_contentbox .post-img {
	flex: 0 0 220px;
	margin-right: 20px;
}
.article_contentbox .post-img img {
	width: 100%;
}
.article .post_meta span {
	margin-right: 8px;
}
/* 分页 */
.page_navi {
	margin-top: 30px;
	text-align: center;
}
.page_navi a {
	display: inline-block;
    padding: 10px 15px;
    margin: 0 2px;
    background: #fff;
    border: 1px solid #eee;
    color: #999;
    border-radius: 3px;
	-webkit-transition: all .5s ease;
	 -o-transition: all .5s ease;
	transition: all .5s ease;
}
.page_navi a:hover, .page_navi .current {
	background: #333;
    color: #fff;
}
.valuetheme-title {
    border-bottom: 1px solid #f0f2f5;
	margin-bottom: 20px;
}
.valuetheme-title .theme-title {
    font-size: 26px;
    margin-bottom: 10px;
	font-weight: 500;
	color: #5e7387;
}
.valuetheme-title .meta {
	color: #999;
	font-size: 14px;
}
.valuetheme-title .meta span {
	margin-right: 10px;
}
.valuetheme-info li {
	display: flex;
	margin-bottom: 20px;
	font-weight: lighter;
	color: #aaa;
}
.valuetheme-info li span {
	flex: 0 0 80px;
    font-weight: bold;
    color: #5e7387;
}
.theme-intro {
	background: #fff;
	text-align: center;
	padding: 30px 0
}
.theme-introTitle {
	font-size: 48px;
	color: #5e7387;
	margin-bottom: 40px;
	font-weight: lighter;
}
.theme-intro p {
	font-size: 16px;
	color: #5e7387;
	margin-bottom: 15px;
}
.theme-intro p.compat {
	color: #ccc;
	font-size: 14px;
}
.theme-intro button {
	padding: 12px 30px;
	font-size: 16px;
	margin: 20px 5px;
}
.theme-intro img{
	max-width: 100%;
}






















/*=========================================== 广告样式  =========================================== */
.ads_single img,
.ad_postTop img,
.ads_articleTop img {
	max-width: 100%;
	margin-bottom: 10px;
}

/* fancyBox图片暗箱样式 */
 .fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}
.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none}
.fancybox-opened{z-index:8030}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}
.fancybox-outer,.fancybox-inner{position:relative}
.fancybox-inner{overflow:hidden}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}
.fancybox-error{color:#444;margin:0;padding:15px;white-space:nowrap}
.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}
.fancybox-image{max-width:100%;max-height:100%}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('fancybox/fancybox_sprite.png')}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}
#fancybox-loading div{width:44px;height:44px;background:url('fancybox/fancybox_loading.gif') center center no-repeat}
.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('fancybox/blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}
.fancybox-prev{left:0}
.fancybox-next{right:0}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}
.fancybox-prev span{left:10px;background-position:0 -36px}
.fancybox-next span{right:10px;background-position:0 -72px}
.fancybox-nav:hover span{visibility:visible}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}
.fancybox-lock{overflow:hidden}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('fancybox/fancybox_overlay.png')}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}
.fancybox-title{visibility:hidden;position:relative;text-shadow:none;z-index:8050}
.fancybox-opened .fancybox-title{visibility:visible}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}
.fancybox-title-inside-wrap{padding-top:10px}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}
/*==================================================================================================================
自适应样式
====================================================================================================================*/

/*=====================
宽度大于1280时：大屏幕
=====================*/
@media screen and (min-width: 1200px) {
	.excerpt .theme_title {
		display: block;
		width: 30%;
		top: 10px;
    	right: -32px;
    	font-size: 16px;
	}
	.article_wrapper {
		margin-top: 20px;
	}
}
/*=====================
宽度小于1200px自适应：PC
=====================*/
@media screen and (max-width: 1199px) {
	.theme_meta .view {
		display: none;
	}
}
/*=====================
宽度小于等于991px自适应：Pad
=====================*/
@media screen and (max-width: 991px) {
	.open, .open body {
	    height: 100%;
	    overflow: hidden;
	}
	.header {
		padding: 30px 0 10px;
		background: #fff;
	}
	.isindex .header .site_nav>ul>li>a {
		color: #555;
	}
	.isindex .header {
		background: #fff;
		-webkit-tap-highlight-color: transparent;
	}
	.header .logo a {
		background-image: url(../img/logo.gif);
		max-width: 120px;
	}
	.isindex .header .logo a {
		background-image: url(../img/logo.gif) !important;
	}
	.open .header {
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.mobile_nav {
		display: block;
		position: absolute;
		top: 10px;
		width: 50px;
    	height: 40px;
    	cursor: pointer;
	}
	.menu_top, .menu_bottom {
	    position: absolute;
	    left: 14px;
	    background: #333;
	    width: 22px;
	    height: 2px;
	    transition: .3s;
	}
	.menu_top {
		top: 15px;
	}
	.menu_bottom {
		top: 25px;
	}
	.open .menu_top {
		-webkit-transform: translate(0,5px) rotate(225deg);
		-moz-transform: translate(0,5px) rotate(225deg);
		-ms-transform: translate(0,5px) rotate(225deg);
	    -o-transform: translate(0,5px) rotate(225deg);
	    transform: translate(0,5px) rotate(225deg);
	}
	.open .menu_bottom {
		-webkit-transform: translate(0,-5px) rotate(135deg);
		-moz-transform: translate(0,-5px) rotate(135deg);
		-ms-transform: translate(0,-5px) rotate(135deg);
		-o-transform: translate(0,-5px) rotate(135deg);
	    transform: translate(0,-5px) rotate(135deg);
	}
	.site_nav {
		display: none;
		position: absolute;
		top: 70px;
		bottom: 0;
		padding: 40px 50px;
		background: #fff;
		margin:0 !important;
		padding: 20px 30px;
		width: 100%;
	}
	.header .site_nav ul li {
		display: block;
		float: none;
		padding: 0;
		border-bottom: 1px solid #f4f4f4;
		padding: 10px 0;
	}
	.open .site_nav {display: block;}
	.header .sub-menu {
		transform: none;
	    transition: none;
	    opacity: 1;
	    position: relative;
	    border: 0;
	    box-shadow: none;
	    left: 0;
	    top: 0;
	    padding-left: 30px;
	    margin-top: 4px;
	    border-top: 1px solid #f4f4f4;
	    margin-left: 0px;
	    border-radius: 0;
	}
	.header .site_nav>ul>li>a {
		color: #555;
	}
	.logo {
		position: absolute;
		left: 40%;
		top: 7px;
		padding-top: 4px;
	}
	.search_show {
		margin-top: -6px;
	}
	.search_show a {
		color: #555;
	}
	.visual {
	    background-attachment: inherit;
	}
	.course_wrap .course_slogan {
		height: 60px;
		line-height: 60px;
		font-size: 16px;
	}
	.wrapper {
		margin-top: -1px;
	}
	.article_content {
		margin-right: 0;
	}
	.article_title {
		width: 100%;
	}
	.article_title .meta {
		display: block;
	}
	.single_TopWrap {
		padding-top: 56px;
	}
	.comment_item {
		display: block;
		width: 100%;
	}
	.article_contentbox {
		flex-flow: column nowrap;
	}
	.article_contentbox .post-img {
		flex: 1 1 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
}

/*=====================
宽度小于等于768px自适应：Phone
=====================*/
@media screen and (max-width: 767px) {
	.visual {
		background-attachment: inherit;
	}
	.theme_meta .view {
		display: block;
	}
		.target_one {
		float: none;
		width: 90%;
		margin-left: 5%;
	}
	.excerpt {
		float: none;
	    width: 90%;
	    margin: 0 auto 20px;
	}
	.mydream .think_left, .mydream .think_right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.mydream .think_right a {
		margin-top: 30px;
	}
	.mydream h1 {
		font-size: 24px;
	}
	.course_wrap .course_box {
		width: 96%;
		margin: 0 2% 20px;
	}
	.course_wrap .course_slogan{
		height: 60px;
		line-height: 60px;
		font-size: 16px;
	}
	.copyright p {
		margin-bottom: 30px;
	}
	.solgan {
		padding: 10px 0;
	}
	.solgan p {
		display: none;
	}
	.showme_slogan {
		max-width: 300px;
	}
	.showme_slogan h3 {
		font-size: 16px;
	}
	.showme_sloganName {
		font-size: 20px;
	}
	.article_title {
		padding: 20px 0;
		text-align: justify;
	}
	.article_title .meta {
		margin-top: 10px;
	}
	.article_title h1 {
	    font-size: 16px;
	    line-height: 24px;
	}
	.article_title .post_cat {
		display: none;
	}
	.article_left, .sidebar {
		float: none;
	}
	.article_left {
		width: 100%;
	}
	.sidebar {
		display: none;
	}
	.sidebar {
		display: none;
	}

}
/*=====================
宽度小于等于600px自适应：小屏手机或者横屏
=====================*/
@media screen and (max-width: 600px) {
	.logo {
		left: 35%;
	}
	.excerpt .theme_title {
	    top: 10px;
	    right: -40px;
	}
	.search_content {
		width: 80vw;
	}
	.search_content .search_form input {
		width: 80%;
	}
	.search_content .search_form button {
		width: 20%;;
	}
}

.container {
	padding: 0 15px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1200px;
    padding: 0;
    }
}


/*定义滚动条尺寸*/

::-webkit-scrollbar {
	width: 8px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #333;
}
